/*
* fonts
*/
@font-face {
    font-family: Karla;
    src: url("../fonts/Karla-Regular.ttf");
}
/*
* end fonts
/*

/*
* global CSS
*/
html, body {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*
* end global CSS
/*

/*
* navigation
*/
.navigation {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation--nonscrolled {
    background-color: transparent;
}

.navigation--scrolled {
    background-color: #FFFFFF;
}

.navmenu {
    width: 25%;
    min-width: 500px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navmenu--nonscrolled {
    background-color: transparent;
}

.navmenu--scrolled {
    background-color: #FFFFFF;
}

.navoption {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.navoption--nonscrolled {
    color: #FFFFFF;
}

.navoption--scrolled {
    color: #000000;
}

.hamburger {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    display: none;

    cursor: pointer;
}

.hamburger--nonscrolled {
    background-image: url("../images/hamburger-white.svg");
}

.hamburger--scrolled {
    background-image: url("../images/hamburger-black.svg");
}

@media screen and (max-width: 800px) {
    nav {
        justify-content: space-around;
        padding: 10px;
    }

    .hamburger {
        display: block;
    }

    .navmenu {
        position: absolute;
        width: 100%;
        top: 90px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        display: none;
    }
   
    .navmenu--visible {
        display: flex;
    }

    .navmenu--invisible {
        display: none;
    }
}
/*
* end navigation
/*

/*
* header
*/
.header{
    font-family: 'Karla', sans-serif;
    color: #FFFFFF;
    width: 100%;
    height: 80vh;
    min-height: 650px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header p{
    font-size: 20px;
    line-height: 23px;
    font-weight: lighter;
    align-items: center;
    letter-spacing: 0.1em;
}

.headertext {
    width: 25%;
}

.button--readmore--header{
    border: none;
    background-color: #FEED02;
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;

    cursor: pointer;
}

@media screen and (max-width: 666px) {
    .header{
        flex-direction: column;
    }

    .headertext {
        width: 80%;
    }

    .headervideo {
        display: none;
    }
}
/*
* end header
/*

/*
* car section
*/
.carsection {
    width: 100%;
    height: 300px;

    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
}

.carcolumn {
    width: 20%;

    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.carrow {
    display: flex;
    align-items: center;
}

.carimage {
    min-width: 40px;
    min-height: 40px;
    margin: 10px;
}

.cartitle {
    margin-top: 0;
    margin-bottom: 0;

    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1em;

    padding: 0;
}

.cardesc {
    margin-left: 60px;
    margin-top: 0;
    margin-bottom: 0;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 1000px) {
    .carsection {
        flex-direction: column;
        align-items: center;

        height: auto;
        padding-bottom: 10px;
    }

    .carcolumn {
        min-width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;

        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;
    }

    .carimage {
        min-width: 40px;
        width: 40px;
        min-height: 40px;
        height: 40px;
        margin: 10px;
    }
}
/*
* end car section
/*

/*
* video section
*/
.videosection {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F2F2F2;

    width: 100%;
    min-height: 300px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.video {
    max-width: 600px;
    min-width: 300px;
    width: 40%;
}

.videotext {
    width: 40%;
}

.videotitle {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;

    text-transform: uppercase;
}

.videodesc {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.button--readmore--video {
    background-color: #FEED02;
    border: none;
    border-radius: 50px;

    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;

    text-transform: uppercase;
    cursor: pointer;

    padding: 10px 50px;
}

@media screen and (max-width: 950px) {
    .videosection {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #F2F2F2;

        min-height: 300px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .video {
        width: 80%;
    }

    .videotext {
        width: 80%;
    }
}
/*
* end video section
/*

/*
* partners section
*/
.partnerssection {
    width: 100%;
    height: 300px;

    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.partnerstitle {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    text-align: center;

    margin: 0;
}

.partnerscontainer {
    display: flex;
    justify-content: space-evenly;
}

.partnerlogo {
    height: 70px;
}
/*
* end partners section
/*