<nav id="nav">
    <div>
        <a href=""><img class="logo" id="navlogo" src="images/logo.png"></a>
    </div>
    <div id="hamburger" class="hamburger"></div>
    <div id="navMenu" class="navmenu">
        <a id="navoption" href="">Home</a>
        <a id="navoption" href="">Over de DIF</a>
        <a id="navoption" href="">Vragenlijst</a>
    </div>
</nav>