<nav id="navigation" class="navigation navigation--nonscrolled">
    <div>
        <a href=""><img class="logo" id="navlogo" src="images/logo.png"></a>
    </div>
    <div id="hamburger" class="hamburger hamburger--nonscrolled"></div>
    <div id="navMenu" class="navmenu navmenu-nonscrolled navmenu--visible">
        <a class="navoption navoption--nonscrolled" id="navoption" href="">Home</a>
        <a class="navoption navoption--nonscrolled" id="navoption" href="">Over de DIF</a>
        <a class="navoption navoption--nonscrolled" id="navoption" href="">Vragenlijst</a>
    </div>
</nav>